@charset "utf-8";
/* CSS Document */

body{
	 margin:0;
}
.connect_bouton{
	background:url(../img/connexion.jpg) no-repeat;
	width:98px;
	height:99px;
	cursor:pointer;
	margin:20px auto 0;
}
.connect_bouton:hover{
	background-position:0 -99px;
}
#head{
	height:118px; -moz-box-shadow:0 0 11px #aaa; -webkit-box-shadow:0 0 11px #aaa; text-align:center;
}
#head img{
	padding:20px 0 0 0; text-align:center;
}
input[type=text],input[type=password]{
	width:316px; -moz-box-shadow:0 0 10px #aaaaaa; -webkit-box-shadow:0 0 11px #aaa; border:#FFF 1px; padding:4px; margin-bottom:20px; background-color:#fff;
}
label{
	display:block; text-align:left; font-family:Century Gothic, Arial, Helvetica, sans-serif; font-size:18px; color:#5f6062; margin-bottom:10px;
}
#main{
	margin:50px auto 0; width:316px;
}
#notification{
	text-align:center; font-family:Century Gothic, Arial, Helvetica, sans-serif; font-size:18px; color:#f49f23;
}